:root {
  --main-color: rgba(53, 204, 204, 0.849);
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.button {
  padding: 16px;
  background-color: transparent;
  border-color: var(--main-color);

  font-weight: 700;
  cursor: pointer;
}
.button:hover {
  background-color: var(--main-color);
  color: white;
}
.button + .button {
  margin-left: 10px;
}
.wrapper-div {
  width: 600px;
  height: 350px;
  margin-top: 20px;
  border: 3px solid var(--main-color);
}
.wrapper-element {
  height: 95%;
  width: 98%;

  display: flex;
  gap: 5px;
  margin: 5px;
  border: 2px dotted grey;
}

.wrapper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50px;
  border: 1px solid;
  background-color: var(--main-color);

  font-weight: 700;
  font-size: 2rem;
  color: black;
}
.active {
  transition: all 0.5s;
  background-color: var(--main-color);
  color: white;
}
