.container {
  width: 1200px;
  margin: 0 auto;
}
.button {
  padding: 16px;
  background-color: transparent;
  border-color: aqua;

  font-weight: 700;
  cursor: pointer;
}
.button:hover {
  background-color: aqua;
  color: white;
}
.button + .button {
  margin-left: 10px;
}
.wrapper-div {
  width: 600px;
  margin: 5px;
  border: 3px solid aqua;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
  border: 2px dotted grey;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 30px;
  height: 30vh;
  border: 1px solid;
  background-color: aqua;
  font-weight: 700;
  font-size: 2rem;
  color: darkgray;
}
.number + .number {
  margin-left: 3px;
}
