.container {
  width: 1200px;
  margin: 0 auto;
}
.button {
  padding: 16px;
  background-color: transparent;
  border-color: rgba(105, 241, 241, 0.849);

  font-weight: 700;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(105, 241, 241, 0.849);
  color: white;
}
.button + .button {
  margin-left: 10px;
}
.wrapper-div {
  width: 600px;
  height: 250px;
  margin-top: 20px;
  border: 3px solid rgba(105, 241, 241, 0.849);
}
.wrapper-element {
  height: 95%;
  width: 98%;

  display: flex;
  gap: 5px;

  margin: 5px;
  border: 2px dotted grey;
}

.wrapper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 1px solid;
  background-color: rgba(105, 241, 241, 0.849);

  font-weight: 700;
  font-size: 2rem;
  color: darkgray;
}
